name: Build

on:
  push:
    tags:
      - 'v*.*.*'

jobs:
  build-and-release:
    strategy:
      matrix:
        pythonVersion: [ "3.9", "3.10", "3.11", "3.12", "3.13" ]
        include:
          - pythonVersion: '3.9'
            supportArch: 'linux/386,linux/amd64,linux/arm64/v8'
          - pythonVersion: '3.10'
            supportArch: 'linux/386,linux/amd64,linux/arm64/v8'
          - pythonVersion: '3.11'
            supportArch: 'linux/386,linux/amd64,linux/arm64/v8'
          - pythonVersion: '3.12'
            supportArch: 'linux/386,linux/amd64,linux/arm64/v8'
          - pythonVersion: '3.13'
            supportArch: 'linux/386,linux/amd64,linux/arm64/v8'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_HUB_NAME }}
          password: ${{ secrets.DOCKER_HUB_TOKEN }}

      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: |
            name=php:${{ matrix.pythonVersion }}-alpine
          tags: |
            type=ref,event=branch
            type=ref,event=pr
            type=semver,pattern={{version}}
            type=semver,pattern={{major}}.{{minor}}
            type=sha

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: .
          platforms: ${{ matrix.supportArch }}
          push: true
          tags: nmgsz/thumbor:${{ matrix.pythonVersion }}-alpine-${{ steps.meta.outputs.version }},nmgsz/thumbor:${{ matrix.pythonVersion }}-alpine
          build-args: |
            pythonVersion=${{ matrix.pythonVersion }}
            thumborVersion=${{ steps.meta.outputs.version }}
